@model gesDetteWebCS.Models.Dette

<div class="bg-gradient-to-br from-green-400 to-blue-600 px-6 py-5 mx-auto mt-14 my-5 box-shadow3" style="width: 60%">
    <h1 class="text-center text-3xl mb-8 font-semibold underline">Nouvelle Ajout de Dette</h1>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-5 mx-auto">
            <label asp-for="ClientD" class="text-xl font-medium text-white control-label"></label>
            <select asp-for="ClientD" name="clientId"
                class="mt-2 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm sm:text-xl">
                <option value="">-- Select a Client --</option>
                @if ((IEnumerable<Client>)ViewData["Clients"] != null)
                {
                    @foreach (var client in (IEnumerable<Client>)ViewData["Clients"])
                    {
                        <option value="@client.Id">@client.Surnom</option>
                    }
                }
            </select>

            <span asp-validation-for="ClientD" class="text-red-600 text-sm mt-1"></span>

        </div>

        <div class="mb-5 mx-auto">
            <label asp-for="Montant" class="text-xl font-medium text-white control-label"></label>
            <input asp-for="Montant" type="number"
                class="mt-2 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm sm:text-xl" />
            <span asp-validation-for="Montant" class="text-red-600 text-sm mt-1"></span>
        </div>

        <!-- Bouton de création de dette -->
        <div class="flex justify-center align-middle">
            <input type="submit" value="Create Dette"
                class="cursor-pointer text-slate-800 bg-green-400 font-medium rounded box-shadow px-5 py-3 text-center mt-8 mb-3 mx-auto w-1/2" />
        </div>
    </form>
</div>
